.p-button { box-shadow: none; }

.filter-button .p-togglebutton-label { display: none; }

.delete-button {
    line-height: 1;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

