.p-button { box-shadow: none; }

.filter-button .p-togglebutton-label { display: none; }

.delete-button {
    line-height: 1;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.slide-fade-enter-active, .slide-fade-leave-active {
    transition: all 0.3s ease;
}
.slide-fade-enter-from, .slide-fade-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}
.slide-fade-enter-to, .slide-fade-leave-from {
    opacity: 1;
    transform: translateY(0);
}

